body {
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Segoe UI", "Roboto Sans", "Open Sans", sans-serif;
	font-size: 9.5pt;
	display: flex;
}

h1, h2, h3 { font-weight: lighter; }
h1 { margin-top: -5pt; }
h2 { margin-top: 2em; }
h3 { margin-top: 1.5em; }

a { color: #13e; text-decoration: none; }
a:hover { color: #48f; text-decoration: underline; }

table { border-collapse: collapse; }
th, td { padding: 0 10pt; vertical-align: top; }
th:first-child, td:first-child { padding-left: 0 }
th { text-align: left; font-weight: normal; font-style: italic;}
tr { border-bottom: 1px dashed #ddd; vertical-align: top; }
col.caption { min-width: 150pt; }

p.faint { color: #ccc; }

#main-nav, #main-contents, #symbolSearchResults, #symbolSearch {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#main-nav {
	vertical-align: top;
	font-size: 9.5pt;
	padding: 2em 1.5em;
	min-width: 16em;
	background: linear-gradient(#ddd, #fff), linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,0)), linear-gradient(#eee, #fff);
	background-size: 1px 100%, 100% 100%, 100% 100%;
	background-position: 100% 0, 0 0, 0 0;
	background-repeat: no-repeat, no-repeat;
}

#main-contents {
	vertical-align: top;
	font-size: 9.5pt;
	padding: 2em;
	flex-grow: 1;
}

#symbolSearch {
	margin-bottom: 1.5em;
	width: 100%;
}

#symbolSearchResults {
	position: absolute;
	list-style: none;
	padding: 0;
	padding-right: 0.5em;
	margin: 0;
	margin-top: -1.5em;
	overflow: hidden;
	background: white;
	min-width: 20em;
	border: 1px solid #ddd;
	box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.5);
}
#symbolSearchResults li {
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
}
#symbolSearchResults .deprecated a { color: gray; }
#symbolSearchResults .module { background-image: url(../images/ddox/module.png); }
#symbolSearchResults .functiondeclaration { background-image: url(../images/ddox/function.png); }
#symbolSearchResults .classdeclaration { background-image: url(../images/ddox/class.png); }
#symbolSearchResults .interfacedeclaration { background-image: url(../images/ddox/interface.png); }
#symbolSearchResults .structdeclaration { background-image: url(../images/ddox/struct.png); }
#symbolSearchResults .variabledeclaration { background-image: url(../images/ddox/variable.png); }
#symbolSearchResults .property { background-image: url(../images/ddox/property.png); }
#symbolSearchResults .enumdeclaration { background-image: url(../images/ddox/enum.png); }
#symbolSearchResults .enummemberdeclaration { background-image: url(../images/ddox/enummember.png); }
#symbolSearchResults .aliasdeclaration { background-image: url(../images/ddox/alias.png); }
#symbolSearchResults .templatedeclaration { background-image: url(../images/ddox/template.png); }


ul.tree-view li {
	list-style-type: none;
	padding-left: 18px;
	padding-right: 4px;
}

ul.tree-view .package {
	padding-left: 18px;
	background-image: url(../images/ddox/package.png);
	background-repeat: no-repeat;
	background-position: left 2px;
	cursor: default;
}

ul.tree-view .package:hover {
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

ul.tree-view .module {
	padding-left: 18px;
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../images/ddox/module.png);
	background-repeat: no-repeat, no-repeat;
	background-position: left 2px, left 2px;
}

ul.tree-view .module.selected, ul.tree-view .package.selected { font-weight: bold; }
ul.tree-view .module.selected { background-image: url(../images/ddox/module.png); }

ul.tree-view li.collapsed ul { display: none; }

ul.tree-view {
	padding: 0;
	margin: 0;
}

ul.tree-view ul {
	margin: 0;
	padding: 0;
}

a.protected {
	font-style: italic;
	background-image: url(../images/ddox/protected.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}
a.package {
	font-style: italic;
	background-image: url(../images/ddox/package.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}

a.private {
	font-style: italic;
	background-image: url(../images/ddox/private.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}
a.inherited:after { content: url(../images/ddox/inherited.png); padding-left: 2pt; }

nav.page-nav ul { list-style: none; padding-left: 0; }
nav.page-nav li a { color: black; }
nav.page-nav li:before { content: "î’¸"; padding-right: 3px; }

.license-info { margin-top: 2em; color: #888; }
.license-info p { display: inline; }

@media (max-width: 500pt) {
	body { display: block; }
}