body {
	margin: 0;
	padding: 0;
}

h1 {
	border-bottom: 1px solid black;
	margin: 0;
	padding: 0.5em;
	background-color: #ddd;
}

#main-nav {
	display: block;
	float: left;
	min-width: 10em;
	padding-right: 2em;
	margin-right: 2em;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #eee;
}

#main-contents {
	padding: 2em;
}